<!-- forgot_password_complete.html -->
{% extends 'index.html' %}

{% block title %}Завершение сброса пароля{% endblock %}

{% block content %}
<h1>Завершение сброса пароля</h1>
<form method="POST" action="{% url 'forgot_password_complete' verification_code=verification_code %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="password">Новый пароль:</label>
        <input type="password" id="password" name="password" required><br><br>
    </div>
    <div class="form-group">
        <label for="password_confirmation">Подтвердите новый пароль:</label>
        <input type="password" id="password_confirmation" name="password_confirmation" required><br><br>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить новый пароль</button>
</form>
{% endblock %}
